<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="center-wrapper">
      <div class="container-index">
        <header>
          <h1>Welcome to the Home Page!</h1>
        </header>

        <section class="cta-index">
          <a href="{{ url_for('main.create_program') }}" class="btn-index"
            >Create Program</a
          >
        </section>
      </div>
    </div>
  </body>
</html>
